//@import "../../../main/global-variables.gbl";
//@import "../../../components/hot-kit/hot-kit";

.projects__slides {
  .projects__slides_card {

    // Octagon shape and text detail animation
    &:hover {
      &:before {
        height: 490px;
        transition: all 1s ease;
        clip-path: polygon(17% 0%, 83% 0%, 100% 16%, 100% 84%, 83% 100%, 17% 100%, 0% 84%, 0% 15%);
      }

      .projects__slides_card-details {
        transition: all 1s ease;

        h3 {
          top: 320px;
        }

        i {
          bottom: 5px;
        }
      }
    }
  }
}
