@import "../../../../../components/hot-kit/hot-kit";
@import "../../../../../main/global-variables.gbl";

/**
* Sub-class key reference
* ------------------------
* 1st Class '__' comment guide '>'
* 2nd Class '_' comment guide '>>'
* 3rd Class '-' comment guide '>>>'
* 4th Class '--' comment guide '>>>>'
* 5th Class '---' comment guide '>>>>>5'

* Special keys
* -------------
* 1st element '_-_'
* 2nd element '_--_'
* 3rd element '_---_'

*NOTE:
*  - Directives use the same class key
*  - This key '-_-' is not acceptable by the scss compiler
**/

/* Default Class Values
======================*/
// Box
$padding-top: 0;
$margin-top: 0;

// Font & Text
//$font-family: Orbitron;
//$font-weight: lighter;
/*====================*/

&__form { //>> .contact__form
  padding-top: $padding-top;
  margin-top: $margin-top;

  h3 {
    color: #212121;
    text-align: center;
  }
}

&__form_inputBoxes { //>>> .contact__form_inputBoxes
  //background-color: yellow;
  padding-top: 0px;
  margin-top: 0px;

  &-questions { //>>>> .contact__form_inputBoxes-questions
    margin-bottom: 0px;
    padding-bottom: 0px;

    md-input-container { //>>>>>5 .contact__form_inputBoxes-questions--md-input-container
      width: inherit;
      margin: 0;

      label {
        color: white;
        left: 10px !important;
        bottom: 65px !important;
        font-size: 28px;
        position: absolute;
        transition: all 0.2s ease-in-out !important;
        opacity: 0.7;

        //Overriding transform-origin ng-Material
        transform-origin: -40px -40px !important;
      }

      //Overriding autofill background
      input:-webkit-autofill {
        -webkit-box-shadow:
                inset 0 1px 2px rgba(black, 0.5),
                inset 0 0 0 50px rgba(#d32f2f, 1),
                0 1px 2px rgba(white, 0.5) !important;
      }

      .md-input { //>>>>>6 .contact__form_inputBoxes-questions--md-input-container---md-input
        width: 100%;
        height: 45px;
        background-color: #d32f2f;
        margin: 8px 0;
        box-sizing: border-box;
        padding: 10px;
        font-family: 'Orbitron', sans-serif;
        color: white;
        border-radius: 4px;
        border: none;
        box-shadow: inset 0 1px 2px rgba(black, 0.5),
        0 1px 2px rgba(white, 0.5) !important;
      }
    }

    &--warning {
      position: absolute;
      bottom: 0px;
      height: 35px;

      > div {
        color: #FFEB3B;
      }
    }
  }
}

&__form_inputBoxes-submitBtn {
  .md-button {
    padding: 0 !important;
    margin: 0 !important;
    width: 100% !important;
    height: 45px !important;
    font-size: 22px;
    //font-weight: bold;
  }
}

&__form_textarea {
  md-input-container {
    width: 100% !important;
    margin: 0;

    label {
      //background-color: black;
      height: 40px;
      width: inherit;
      color: #fff;
      position: absolute;
      bottom: auto;
      left: 190px;
      top: -10px;
      //right: 500px;
      font-size: 28px;
      transition: all 0.2s ease-in-out;
      opacity: 0.7;
      text-align: right;

      //Overriding transform-origin ng-Material
      transform-origin: 350px -50px !important;
    }

    textarea.md-input {
      width: 100% !important;
      height: 302px !important;
      background-color: #d32f2f;
      margin: 8px 0;
      box-sizing: border-box;
      border-radius: 4px;
      box-shadow: inset 0 1px 2px rgba(black, 0.5),
      0 1px 2px rgba(white, 0.5);
      border: none;
      padding: 10px;
      color: white;
      font-family: 'Orbitron', sans-serif;
    }

    &-warning {
      position: absolute;
      bottom: 0px;
      height: 35px;

      > div {
        color: #FFEB3B;
      }
    }
  }
}

// Responsive
//@import "contact__form.rspv";











