div.about(ng-controller='aboutController')
    div.container.page_content
        div.row
            div.col-centered.col-xs-12.col-sm-5.col-md-3.about__title.title.animated.fadeIn
                img(src='assets/images/about-title-tag.png' alt='')
                h1 About

        div.row
            div.col-sm-12.hidden-xs
                div.row
                    div.col-sm-4.about__image.animated.slideInLeft
                        img.img-responsive(src='assets/images/selfie1.png'
                            alt='' height='375' width='231')


                    div.col-sm-8.col-md-7.col-md-offset-1.about__bio.animated.slideInUp
                        p
                            | Hi, my name is Jeffrey Paulino, I'm a Junior Web-Developer. I have
                            | been coding since 2011, starting the practice with C#. I then
                            | transitioned working on Java, to C and C++, and now currently web
                            | development. My focus is on the design and front-end engineering of an
                            | app. I use Photoshop as designing tool and AngularJS for the framework.
                            | My studies started at Middlesex Community College under the Computer
                            | Science degree, then transferred to the University of Massachusetts
                            | Lowell; where I proceeded my studies with a minor in robotics.
                            | Unfortunately, I haven't finished and had to move to Florida, and will
                            | be transferring to USF. I only require a year and a half to graduate. I
                            | have taken the core courses that focus on logic and Object Oriented
                            | Programming. After moving, I delved into web-development in which was
                            | self-trained, and I could say am proficient in what I do. I don't
                            | have working experience as a programmer, but my projects can tell my
                            | work. For that, it is the reason why I position myself as a Junior Web
                            | Developer rather than a Front-End and designer

    div.return-btn(ng-click="aboutPageLeave('/home')" ng-mouseover='returnText=true'
        ng-mouseleave='returnText=false')
        h4(ng-show="returnText") return