
&__content_menuCircle {

  .vertical-600 {
    transform: scale(1);
  }

  @media only screen and (max-height: 600px) {
    transform: scale(0.7);
  }

  @media only screen and (max-height: 400px) {
    transform: scale(0.5);
  }

   @include mq('phone-wide') {
     transform: scale(0.7);
   }
}


