@import "../../../main/global-variables.gbl";
@import "../../../components/hot-kit/hot-kit";
@import "../global/skills__local.gbl";

*:before, *:after {
  @include pseudo();
  font-size: 20px;
}

.skills__title {
  $height: 55px;
  $background-clr: #fcfcfc;
  background-color: transparent;
  height: $height;
  margin-top: 15px;
  @extend .skills__animation-duration;

  opacity: 0;

  h1 {
    position: absolute;
    //margin: 0 auto;
    top: 0;
    left: 20%;
    line-height: .6em;
    z-index: 2;
    }

  .body-part1 {
    height: inherit;
    width: inherit;
    //box-shadow: -9px -1px 3px rgba(black, 0.3);

    &:before {
      //content:'1';
      height: 100%;
      width: 80%;
      top: 0;
      left: 0;
      //background-color: red;
      background-color: $background-clr;
      box-shadow: -5px -20px 3px -20px rgba(black, 0.3);
      z-index: 1
    }

    &:after {
      //content:'2';
      top: 12%;
      right: 8px;
      height: 35px;
      width: 35px;
      //background-color: red;
      z-index: 1;
      transform: rotate(40deg);
      background-color: $background-clr;
      //box-shadow: 0px -1px 3px rgba(black, 0.3);
    }
  }

  .body-part2 {
    height: inherit;
    width: inherit;

    &:before {
      //content:'3';
      height: 40%;
      width: 20%;
      background-color: $background-clr;
      right: 5%;
      top: 0;
      transform: skewX(45deg);
      box-shadow: 3px 0px 3px rgba(black, 0.3);
      //z-index: 1;
    }

    &:after {
      //content:'4';
      height: 60%;
      width: 30%;
      bottom: 0;
      right: 0;
      background: $background-clr;
      box-shadow: 3px 0px 3px -50px rgba(black, 0.3),
                  3px 0px 3px rgba(black, 0.3);
      //opacity: 0.5;
    }
  }

}

//.body-part1 {
//  height: inherit;
//  width: inherit;
//  box-shadow: -9px -1px 3px rgba(black, 0.3);
//
//  &:before {
//    height: 50%;
//    width: 70%;
//    top: 0;
//    left: 23%;
//    transform: skewX(45deg);
//    background-color: $background-clr;
//    box-shadow: 3px -3px 5px rgba(black, 0.3);
//    //z-index: 2;
//  }
//
//  &:after {
//    top: 0;
//    left: 0;
//    height: 50%;
//    width: 40%;
//    background-color: $background-clr;
//    //box-shadow: 0px -1px 3px rgba(black, 0.3);
//  }
//}
//
//.body-part2 {
//  height: inherit;
//  width: inherit;
//
//  &:before {
//    height: 50%;
//    width: 100%;
//    background-color: $background-clr;
//    position: absolute;
//    left: 0;
//    bottom: 0;
//    box-shadow: 3px 1px 3px rgba(black, 0.3);
//    //z-index: 1;
//  }
//
//  &:after {
//    height: 100%;
//    width: 80%;
//    top: 0;
//    left: 0;
//    background: #000;
//    opacity: 0.5;
//  }

//&:after {
//  @include pseudo();
//  $dimensions: 100px;
//  height: $dimensions;
//  width: $dimensions;
//  $stickout: 3px;
//  transform: rotate(-45deg);
//  top: (-16px - $stickout);
//  right: (-5px - $stickout);
//  border-top: 1px solid green;
//  border-left: 1px solid rgba($skills-page-clr,1);
//  border-bottom: 1px solid green;
//  box-shadow: 10px 10px 1px rgba(red,1),
//  inset 5px 10px 10px black;
//  background-color: transparent;
//  z-index: 10;
//}



