@import "../../../../components/hot-kit/hot-kit";
@import "../../global/skills__local.gbl";

&__horizontal-bar-chart { //>> .skills__horizontal-bar-chart

  //@media only screen and (max-height: 600px) {
  //  height: 450px !important;
  //
  //  canvas {
  //    height: 390px !important;
  //  }
  //}

  //MD
  @include mq('desktop-md') {
    height: 500px;
  }

  //XS
  @include mq('tablet-small-xs') {
    width: 100%;
    margin-bottom: 2%;
    margin-right: 0;
  }

}

