div.col-xs-12.contact__socialLinks
    div.row
        div.col-xs-6.contact__socialLinks_btns
            a(href='https://codepen.io/JeffreyPD7/')
                i.fa.fa-codepen.fa-4x
        div.col-xs-6.contact__socialLinks_btns
            i.fa.fa-facebook-square.fa-4x

    div.row
        div.col-xs-6.contact__socialLinks_btns
            i.fa.fa-github.fa-4x
        div.col-xs-6.contact__socialLinks_btns
            i.fa.fa-linkedin-square.fa-4x