@import "../../../../components/hot-kit/hot-kit";
@import "../../global/skills__local.gbl";


&__radar-chart { //>> .skills__radar-chart
  margin-top: 10px;

  //XS
  @include mq('tablet-small-xs') {
    margin-top: 0;
    margin-left: 1.5%;
  }

  //XS-601px
  @include mq('phablet') {
    //width: 55%;
    margin-left:0;
  }
}

// Responsive
//@import "skills__radar-chart.rspv";

