// Hot-kit
@import "../components/hot-kit/hot-kit";

/* Default Values
======================*/
//- Box -
$height: 70px;

//- Font & Text -
$text-align: center;
$color: #000;

//- Sub Classes & Elements -
/*- img -*/
$img-height: 93px;
$img-width: 236px;
/*====================*/

.title {
  color: $color;
  text-align: $text-align;
  height: $height;

  img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }

  h1 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
  }
}

.about .about__title {
  h1 {
    top: 8px;
  }

  @include mq('tablet-sm') {
    margin-top: -50px;
  }

  @include mq('tablet-small-xs') {
    margin-top: 460px;
    margin-bottom: 30px;
  }
}

.skills .skills__title {
  img {
    right: auto;
    left: -10px;
    top: -15px;
  }

  h1 {
    right: auto;
    left: 50px;
    top: -8px;
  }

  // XS
  @include mq('tablet-small-xs') {
    img, h1 {
      top: 0;
    }
  }

  //  XS-601px
  @include mq("phablet") {
    h1 {
      font-size: 26px;
      left: 30px;
      top: 5px;
    }

    img {
      height: 80px;
      width: aspect-ratio($img-width,$img-height, 70px);
    }
  }

  //  XS-480px
  @include mq("phone-wide") {
    h1 {
      font-size: 26px;
      left: 30px;
      top: 5px;
    }

    img {
      height: 80px;
      width: aspect-ratio($img-width,$img-height, 65px);
    }
  }

  // XS-362px
  @include mq('phone') {
    h1 {
      font-size: 24px;
      left: 15px;
      //top: 5px;
    }

    img {
      height: 80px;
      width: aspect-ratio($img-width,$img-height, 48px);
    }
  }
}

.contact .contact__title {
  margin-top: 80px;

  img {
    left: -10px;
  }

  h1 {
    top: -5px;
  }
}

.projects .projects__title {
  img {
    left: auto;
    right: -13px;
    top: -15px;
  }

  h1 {
    top: -8px;
  }

}