mixin plug(baseCSS)
    div.row
        div.col-xs-12.animated.slideInUp(class=baseCSS + 'bio')
            h4(class=baseCSS + 'bio__h4')
                | Hi, my name is Jeffrey Paulino, I am a self-trained Junior Web-Developer with a
                | hint of Web Design, that fell in Love with Debian Linux Distros. I started my studies in
                | Computer Science on 2011, beginning with the C# language. I then transitioned
                | working on Java, to C and C++, and afterward to web development languages. My
                | studies started at Middlesex Community College under the Computer Science degree.
                | I then transferred to the University of Massachusetts Lowell, where I proceeded my
                | studies with a minor in robotics. I have taken the core courses that focus on
                | logic and Object-Oriented Programming. Besides web development, my heart is at
                | Internet of Things, Robotics, and Data; and hope to find a position where all ends
                | meet
