mixin plug(baseCSS)
    div.row
        div.col-xs-12.animated.slideInLeft(class = baseCSS + 'selfPortrait')
            img(class=baseCSS + 'selfPortrait__img' src='assets/images/selfie1.png'
            alt='' height='300' width='231')


            //height='375'