mixin plug(baseCSS)
    div.col-xs-12.skills__md-slide(class=baseCSS + 'doughnut-chart' ng-controller='doughnutChartCtrl')
        include ../../local/skills __slides-body/skills__slides-body.gbl.pug

        h3(class=baseCSS + 'doughnut-chart__h3') Frameworks

        canvas.chart.chart-doughnut(id='doughnut'
        chart-data='data2' chart-labels='labels2' chart-options='options2'
        chart-colors='colors2' height='250px')