div.contact(ng-controller='contactController')
    div.container.page_content
        div.row
            div.col-xs-3.col-centered.contact__title.title
                img(src='assets/images/contact-title-tag.png' alt='')
                h1 Contact

        div.row
            div.col-xs-12.contact__uniform
                div.row
                    div.col-xs-2
                        include sections/contact__socialLinks/pug/contact__solcialLinks.ptl.pug

                    div.col-xs-8
                        include sections/contact__form/pug/contact__form.ptl.pug

                    div.col-xs-2
                        include sections/contact__fabInfoBtns/pug/contact__fabInfoBtns.ptl.pug

    div.return-btn(ng-click="contactPageLeave('/home')" ng-mouseover='returnText=true'
        ng-mouseleave='returnText=false')
        h4(ng-show='returnText') return

