@import "../../../../components/hot-kit/hot-kit";

$shadow-blk-fade: rgba(black, 0.25);
$shadow-blur: 1px;
$shadow-end-distance: 4px;


.skills__slides-body {

  @include mq('tablet-sm') {
    .left-skirt:before {
      bottom: 4%;
    }

    .right-skirt:before {
      top: 4%;
    }
  }



  //@include mq('tablet-small-xs') {
  //  .left-skirt:before {
  //    bottom: 4%;
  //  }
  //
  //  .right-skirt:before {
  //    top: 4%;
  //  }
  //}

}

.skills__horizontal-bar-chart .skills__slides-body {
  //XS-480px
  @include mq('phone-wide') {
    .left-skirt:before {
      bottom: 3%;
    }

    .right-skirt:before {
      top: 3%;
    }
  }
}

.skills__md-slide .skills__slides-body {
  //XS-601px
  @include mq('phablet') {
    .left-skirt:before {
      bottom: 8%;
    }

    .right-skirt:before {
      top: 8%;
    }
  }

  //XS-480px
  @include mq('phone-wide') {
    .left-skirt:before {
      bottom: 6%;
    }

    .right-skirt:before {
      top: 6%;
    }
  }
}
