@import "../../../../components/hot-kit/hot-kit";
@import "../../global/skills__local.gbl";

&__doughnut-chart { //>> .skills__doughnut-chart

  //XS
  @include mq('tablet-small-xs') {
    margin-right: 1.5%;
  }

  //XS-601px
  @include mq('phablet-601') {
    width: 100%;
  }

  //XS-480px
  @include mq('phone-wide-480') {
    width: 100%;
  }

  //XS-601px
  @include mq('phablet') {
    margin-top: 5%;
    margin-bottom: 8%;
  }
}

// Responsive
//@import "skills__doughnut-chart.rspv";