@import "../global/about__local.gbl";
@import "../../../main/global-variables.gbl";

.about__title {

  /* body -------------------------*/
  border-radius: 50px;
  box-shadow: 0 -5px 5px rgba(black, .3);
  @extend .about__animation-duration;

  &:before {
    @include pseudo();
    height: 60px;
    width: 35px;
    background-color: transparent;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    left: -10px;
    top: -3px;
    //box-shadow: inset 3px 3px 3px rgba(black,1);

    $border-thickness: 15px;
    $border-shadow-position: -3px;
    box-shadow:
            // Shadows
            inset 0px -2px 5px rgba(white,.5),
            -3px -3px 5px rgba(black, .3),

              // Borders
            inset 0 15px 0 0 #4caf50,
            inset 0 -15px 0 0 #4caf50,
            inset 15px 0 0 #4caf50;
  }

  &:after {
    @extend :before;
    left: auto;
    right: -10px;
    transform: rotateY(180deg);
  }
}