div.skills(ng-controller='skillsController')
    div.container.page_content
        div.row
            div.col-xs-12.skills--lyt-header
                div.row
                    div.col-xs-6.col-sm-3.pull-left.skills__title.title.animated.fadeIn
                        img(src='assets/images/skills-title-tag.png' alt='')
                        h1 Skills

                    div.col-xs-6.col-sm-9.skills--detail
                        h3 The data on the charts are sourced by a Firebase database

        // LG
        div.row
            div.hidden-xs.hidden-sm.hidden-md.col-lg-12
                div.row
                    div.col-lg-8.skills--lyt-content.animated.slideInLeft
                        include sections/horizontal-bar-chart/pug/horizontal-bar-chart.ptl.pug
                        +plug('skills_-_')

                    div.col-lg-4.skills--lyt-sidebar
                        div.row
                            div.col-lg-12.animated.slideInDown
                                include sections/doughnut-chart/pug/doughnut-chart.ptl.pug
                                +plug('skills_-_')

                        div.row
                            div.col-lg-12.animated.slideInUp
                                include sections/radar-chart/pug/radar-chart.ptl.pug
                                +plug('skills_-_')

        // MD
        div.row
            div.hidden-xs.hidden-sm.col-md-12.hidden-lg
                div.row
                    div.col-sm-8.skills--lyt-content.animated.slideInLeft
                        include sections/horizontal-bar-chart/pug/horizontal-bar-chart.MD.ptl.pug
                        +plug('skills_-_')

                    div.col-sm-4.skills--lyt-sidebar
                        div.row
                            div.col-xs-12.animated.slideInDown
                                include sections/doughnut-chart/pug/doughnut-chart.MD.ptl.pug
                                +plug('skills_-_')

                        div.row
                            div.col-xs-12.animated.slideInUp
                                include sections/radar-chart/pug/radar-chart.MD.ptl.pug
                                +plug('skills_-_')

        // SM
        div.row
            div.hidden-xs.col-sm-12.hidden-md.hidden-lg
                div.row
                    div.col-sm-8.skills--lyt-content.animated.slideInLeft
                        include sections/horizontal-bar-chart/pug/horizontal-bar-chart.SM.ptl.pug
                        +plug('skills_-_')

                    div.col-sm-4.skills--lyt-sidebar
                        div.row
                            div.col-xs-12.animated.slideInDown
                                include sections/doughnut-chart/pug/doughnut-chart.SM.ptl.pug
                                +plug('skills_-_')

                        div.row
                            div.col-xs-12.animated.slideInUp
                                include sections/radar-chart/pug/radar-chart.SM.ptl.pug
                                +plug('skills_-_')

        // XS
        div.row
           div.col-xs-12.hidden-sm.hidden-md.hidden-lg
               div.row
                   div.col-xs-12.animated.slideInLeft.skills--lyt-horizontal-bar-chart
                       include sections/horizontal-bar-chart/pug/horizontal-bar-chart.XS.ptl.pug
                       +plug('skills_-_')

               div.row
                   // Visible Until 601px
                   div.col-xs-12.skills--page-xs
                       div.row
                           div.col-xs-6.animated.slideInUp(style='padding-right:5px')
                               include sections/doughnut-chart/pug/doughnut-chart.ptl.pug
                               +plug('skills_-_')

                           div.col-xs-6.animated.slideInRight(style='padding-left:5px')
                               include sections/radar-chart/pug/radar-chart.ptl.pug
                               +plug('skills_-_')

                   // Visible after 601px
                   div.col-xs-12.skills--page-xs-601px
                       div.row
                           div.col-xs-12.animated.slideInRight
                               include sections/doughnut-chart/pug/doughnut-chart.ptl.pug
                               +plug('skills_-_')
                       div.row
                           div.col-xs-12.animated.slideInUp
                               include sections/radar-chart/pug/radar-chart.ptl.pug
                               +plug('skills_-_')

    // Return Button
    div.return-btn(ng-click="skillsPageLeave('/home')" ng-mouseover='returnText=true'
    ng-mouseleave='returnText=false')
        h4(ng-show='returnText') return

