/* Default Class Values
======================*/
// Box ---
$height: 100%;
$width: 100%;

// Color & Background
$background-color: gray;

// Positioning
$position: absolute;

// Miscellaneous
$overflow: hidden;
/*====================*/


.home {
  position: $position;
  height: $height;
  width: $width;
  background-color: $background-color;
  overflow: $overflow;
  //background-color: #fcfcfc;

  &__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  //@meda only screen and (max-height: 600px) {
  //  transform: .
  //}

  @import "sections/scss/menu-circle.cls";

}