div.home(ng-controller='homeController')
    div.container.home__content

        div.row
            div.col-xs-12.col-sm-offset-2.col-sm-8
                div.row
                    div.home__content_menuCircle(ng-init='default=true')
                        h1(ng-show='default') Welcome
                        h1(ng-show='about') About
                        h1(ng-show='skills') Skills
                        h1(ng-show='contact') Contact
                        h1(ng-show='projects') Projects

                        div.home__content_menuCircle-aboutBtn.circled-btn(ng-click="aboutPageEnter('/about')"
                            ng-mouseover="about=true;skills=false;contact=false;projects=false;default=false" tabindex='1')
                        div.home__content_menuCircle-skillsBtn.circled-btn(ng-click="skillsPageEnter('/skills')"
                            ng-mouseover="skills=true;contact=false;projects=false;about=false;default=false" tabindex='2')
                        div.home__content_menuCircle-contactBtn.circled-btn(ng-click="contactPageEnter('/contact')"
                            ng-mouseover="contact=true;projects=false;about=false;skills=false;default=false" tabindex='3')
                        div.home__content_menuCircle-projectsBtn.circled-btn(ng-click="projectsPageEnter('/projects')"
                            ng-mouseover="projects=true;about=false;skills=false;contact=false;default=false" tabindex='4')
