// Global Variables
@import "../../main/global-variables.gbl";

.projects {

  //  Body
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: $projects-page-clr;
  font-family: Orbitron;
  font-weight: lighter;
  &:before {
    @include pseudo();
    @include gradience($fade:0.10,$orientation: right-left);
  }

  @import "sections/projects__title.cls";
  @import "sections/projects__slides/projects__slides.cls";
}