/* PAGES (specific colors for each page)
============================================================================= */
$home-page-clr: gray;
$about-page-clr: #3F51B5;
$skills-page-clr: #FFEB3B;
$contact-page-clr: #F44336;
$projects-page-clr: #4CAF50;

@import "return-btn.gbl";
@import "title.gbl";

// Centering Columns
.col-centered {
  float: none;
  margin: 0 auto;
}

// Centering Page Content
.page_content {
  @media only screen and (min-width: 1200px) {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
  }
}

// Defaulting a tags
a {
  color: inherit;

  &:hover {
    color: inherit;
  }
}

// All before and after pseudos
//*:before, *:after {
//  @include pseudo();
//  line-height: 1.8em;
//  text-align: center;
//  font-size: 20px;
//}