div.col-xs-12.contact__fabInfoBtns
    div.row
        div.col-xs-10.col-centered
            md-button.md-fab(aria-label='Eat cake')
                i.fa.fa-phone.fa-4x(aria-hidden='true')

    div.row
        div.col-xs-10.col-centered
            md-button.md-fab(aria-label='Eat cake')
                i.fa.fa-envelope.fa-4x(aria-hidden='true')

    div.row
        div.col-xs-10.col-centered
            md-button.md-fab(aria-label='Eat cake')
                i.fa.fa-twitter.fa-4x(aria-hidden='true')


