@import "../../../../components/hot-kit/hot-kit";


/* Default Values
======================*/
// Box
$height: 280px;
$margin-top: 8%;

// Font & Text
$text-align: center;
/*====================*/

.contact__socialLinks {
  height: $height;
  text-align: $text-align;
  margin-top: $margin-top;

  .contact__socialLinks_btns {
    width: 47.5%;
    height: 95px;
    //width: 130px;
    background-color: #e5e5e5;
    text-align: center;
    box-shadow: 0 3px 3px rgba(black, 0.3);
    cursor: pointer;
    margin-top: 10px;

    a {
      color: inherit;
      //text-align: center;
    }

    &:before {
      @include pseudo();
      @include gradience($orientation: bottom-top);
      height: inherit;
      width: 100%;
      margin-left: -15px;
    }

    i {
      line-height: 1.8em;
      margin: 0 auto;
      text-align: center;
    }

    &:hover {
      //height: 140px;
      //width: 140px;
      box-shadow: 0 3px 13px rgba(black, 0.2);

    }
  }


  // Setting margin distances between buttons
  .row:nth-child(1) {
    .contact__socialLinks_btns:nth-child(1) {
      margin-right: 2.5%;
    }

    .contact__socialLinks_btns:nth-child(2) {
      margin-left: 2.5%;
    }
  }

  .row:nth-child(2) {
    .contact__socialLinks_btns:nth-child(1) {
      margin-right: 2.5%;
    }

    .contact__socialLinks_btns:nth-child(2) {
      margin-left: 2.5%;
    }
  }
}

// Responsive
@import "contact__socialLinks.rspv";
