

html {
  overflow: hidden;
  //overflow-y: hidden;
  //overflow-x: hidden;
}

// Global
@import "main/global-variables.gbl";

// Pages
@import "pages/home/home.stl";
@import "pages/about/about.stl";
@import "pages/skills/skills.stl";
@import "pages/contact/contact.stl";
@import "pages/projects/projects.stl";

// Animation
@import "main/pageSlide.mtn";

// Fonts
@import "components/fonts/fonts-list";

// Centering Columns
.col-centered{
  float: none;
  margin: 0 auto;
}

// Takes off hyper link border from ng-click events
*:focus {
  outline: none;
  border: 0;
}

//.main {
//
//}

