
/* Default Class Values
======================*/
// Box
$height: auto;
$width: 100%;
$border-radius: 10px;
$margin-top: 25px;

// Color & Background
$background-color: #c5cae9;

// Positioning
$position: absolute;

// Font & Text
$font-family: 'Orbitron', sans-serif;
$font-weight: lighter;

// Effects
$opacity: 0;
$box-shadow: 0 -3px 3px rgba(black, 0.5);
/*====================*/

&_-_bio {
  height: $height;
  border-radius: $border-radius;
  background-color: $background-color;
  padding: 1rem;
  margin-top: $margin-top;
  opacity: $opacity;
  box-shadow: $box-shadow;

  @extend .about__animation-duration;

  &:before, &:after {
    @include pseudo();
    height: 70px;
    width: 70px;
    background-color: transparent;
    border-radius: 5px;
    filter: drop-shadow(0 -3px 3px rgba(black, 0.7));
    //@extend .about__box-shadow;
  }

  &:before {
    top: -20px;
    right: -20px;
    border-top: 10px solid #5c6bc0;
    border-right: 10px solid #5c6bc0;
  }

  &:after {
    left: -20px;
    bottom: -20px;
    border-left: 10px solid #5c6bc0;
    border-bottom: 10px solid #5c6bc0;
  }

  &__h4 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.765em;
    padding: 0;
    margin: 0;
  }
}

// Responsive
@import "bio.rspv";
