
&_-_bio {
  //SM
  @include mq('tablet-sm') {
    &__h4 {
      font-size: 1.55em;
    }
  }

  //XS
  @include mq('tablet-small-xs') {
    &__h4 {
      font-size:1.2em;
    }
  }

  //XS-601
  @include mq('phablet') {
   &__h4 {
     font-size: 1.1em;
   }
  }
}

