<div class="contact" ng-controller="contactController">
    <div class="container page_content">
        <div class="row">
            <div class="col-xs-3 col-centered contact__title title">
                <img src="app/assets/images/contact-title-tag.png" alt="">
                <h1>Contact</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 contact__uniform">
                <div class="row">
                    <div class="col-xs-2 contact__input-reference-btn">
                        <div class="row">
                            <div class="col-xs-6 ref-link-btns">
                                <a href="https://codepen.io/JeffreyPD7/">
                                    <i class="fa fa-codepen fa-4x"></i>
                                </a>
                            </div>
                            <div class="col-xs-6 ref-link-btns">
                                <i class="fa fa-facebook-square fa-4x"></i>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-6 ref-link-btns">
                                <i class="fa fa-github fa-4x"></i>
                            </div>
                            <div class="col-xs-6 ref-link-btns">
                                <i class="fa fa-linkedin-square fa-4x"></i>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-8 contact__input-form">
                        <h3>Thanks for viewing my porfolio, I am currently available for hire. Please fill in your
                            information and I will contact you as soon as possible. I look forward to working with you
                            in the future</h3>

                        <form name="contactMessageForm" ng-submit="authenticate()">

                            <div class="row">
                                <div class="col-xs-6 details-form">
                                    <div class="row">
                                        <div class="col-xs-12 questions">
                                            <md-input-container>
                                                <label>Name</label>
                                                <input required name="clientName"
                                                       ng-model="contactMessage.name"
                                                       tabindex=1>

                                                <div class="questions-warning"
                                                     ng-messages="contactMessageForm.clientName.$error">
                                                    <div ng-message="required">This is required</div>
                                                </div>
                                            </md-input-container>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xs-12 questions">
                                            <md-input-container>
                                                <label>Email</label>
                                                <input required type="email" name="clientEmail"
                                                       ng-model="contactMessage.email"
                                                       minlength="10" maxlength="100"
                                                       ng-pattern="/^.+@.+\..+$/"
                                                       tabindex=2>

                                                <div class="questions-warning"
                                                     ng-messages="contactMessageForm.clientEmail.$error"
                                                     role="alert">
                                                    <div ng-message="required">This is required</div>

                                                    <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                                                        Your email must be between 10 and 100 characters long and look
                                                        like an e-mail address
                                                    </div>
                                                </div>
                                            </md-input-container>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xs-12 questions">
                                            <md-input-container>
                                                <label>Website / Company</label>
                                                <input name="clientCompany"
                                                       ng-model="contactMessage.company"
                                                       md-maxlength="150"
                                                       tabindex=3>

                                                <div class="questions-warning"
                                                     ng-messages="contactMessageForm.clientCompany.$error">
                                                    <div ng-message="md-maxlength">The name or website of the Company
                                                        must be less than 150 characters long
                                                    </div>
                                                </div>
                                            </md-input-container>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xs-6 pull-right submit-btn">
                                            <md-button class="md-raised md-primary"
                                                       type="submit"
                                                       ng-click="saveContactData(contactMessage)"
                                                       ng-disabled="contactMessageForm.$invalid"
                                                       tabindex=5>Send
                                            </md-button>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-6 description-form">
                                    <md-input-container>
                                        <label>Message</label>
                                        <textarea required name="clientMessage"
                                                  md-maxlength="420"
                                                  md-select-on-focus
                                                  ng-model="contactMessage.message"
                                                  tabindex=4></textarea>

                                        <div class="question-warning" ng-messages="contactMessageForm.clientMessage.$error">
                                            <div ng-message="required">This is required</div>
                                            <div ng-message="md-maxlength">The message must be less than 420 characters
                                                long
                                            </div>
                                        </div>
                                    </md-input-container>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="col-xs-2 contact__fab-info-btns">
                        <div class="row">
                            <div class="col-xs-10 col-centered">
                                <md-button class="md-fab" aria-label="Eat cake">
                                    <i class="fa fa-phone fa-4x" aria-hidden="true"></i>
                                </md-button>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-10 col-centered">
                                <md-button class="md-fab" aria-label="Eat cake">
                                    <i class="fa fa-envelope fa-4x" aria-hidden="true"></i>
                                </md-button>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-10 col-centered">
                                <md-button class="md-fab" aria-label="Eat cake">
                                    <i class="fa fa-twitter fa-4x" aria-hidden="true"></i>
                                </md-button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="return-btn" ng-click="contactPageLeave('/home')" ng-mouseover="returnText=true"
             ng-mouseleave="returnText=false">
            <h4 ng-show="returnText">return</h4>
        </div>

        <!--<div class="row">-->
        <!--<div class="col-xs-offset-3 col-xs-4 return-btn" ng-click="contactPageLeave('/home')"></div>-->
        <!--</div>-->
    </div>
</div>