
/* Default Values
--------------------*/
// Box
$height: 260px;
/*width::bootstrap*/

// Color & Background
$background-color: transparent;

// Font & Text
$color: #666666;
$text-align: center;

// Canvas
$canvas-height: 200px !important;
$canvas-width: 300px !important;
$canvas-margin: 0 auto 3px auto;

/*------------------*/

.skills__md-slide {
  background-color: $background-color;
  height: 100%;
  opacity: 0;
  color: $color;
  text-align: $text-align;
  //width: 100%;
  //@extend .skills__box-shadow;
  @extend .skills__animation-duration;

  canvas {
    //height: $canvas-height;
    //width: $canvas-width;
    margin: $canvas-margin;
  }

  //LG-1300 to LG-1200
  @media only screen and (max-width: 1300px) and (min-width: 1200px) {
    canvas {
      margin-bottom: 2.3rem;
    }
  }

  //MD-1070 to SM-992
  @media only screen and (max-width: 1070px) and (min-width: 992px) {
    canvas {
      margin-bottom: 2.7rem;
    }
  }

  //SM-950 to SM-860
  @media only screen and (max-width: 950px) and (min-width: 860px) {
    canvas {
      margin-bottom: 2.85rem;
    }
  }

  //SM-860 to XS-768
  @media only screen and (max-width: 860px) and (min-width: 768px) {
    canvas {
      margin-top: 3.2rem;
      margin-bottom: 3.5rem;
    }
  }

  //SM-860px
  @media only screen and (max-width: 860px) {
    canvas {
      //margin-left: -10px;
      //height: 160px !important;
      //width: 200px !important;
    }
  }

  //XS
  @include mq('tablet-small-xs') {
    //width: 48.5%;

    canvas {
      margin-bottom: 8%;
    }
  }

  //XS-601px
  @include mq('phablet') {
    width: 100%;
    margin-top: 0;
  }
}

// Deprecated -----------------------*/

//MD
@include mq('desktop-md') {
  //height: 245px;

  canvas {
    //height: 180px !important;
  }
}

//MD-1070px
@media only screen and (min-width:970px) and (max-width: 1070px) {
  canvas {
    //height: 160px !important;
    //width: 230px !important;
  }
}

//SM
@include mq('tablet-sm') {
  canvas {
    //height: 160px !important;
    //width: 230px !important;
  }
}