<div class="home" ng-controller="homeController">
    <div class="container home__content">
        <!--<div class="row">-->
        <!--<div class="col-xs-2 hamburger-animation" style="display: none">-->
        <!--<button class="hamburger hamburger&#45;&#45;squeeze" type="button">-->
        <!--<span class="hamburger-box">-->
        <!--<span class="hamburger-inner"></span>-->
        <!--</span>-->
        <!--</button>-->
        <!--</div>-->
        <!--</div>-->

        <div class="row">
            <div class="col-xs-12 col-sm-offset-2 col-sm-8">
                <div class="row">
                    <div class="menu-circle" ng-init="default=true">
                        <h1 ng-show="default">Welcome</h1>
                        <h1 ng-show="about">About</h1>
                        <h1 ng-show="skills">Skills</h1>
                        <h1 ng-show="contact">Contact</h1>
                        <h1 ng-show="projects">Projects</h1>

                        <div class="about-btn circled-btn" ng-click="aboutPageEnter('/about')" ng-mouseover="about=true;skills=false;contact=false;projects=false;default=false"></div>
                        <div class="skills-btn circled-btn" ng-click="skillsPageEnter('/skills')" ng-mouseover="skills=true;contact=false;projects=false;about=false;default=false"></div>
                        <div class="contact-btn circled-btn" ng-click="contactPageEnter('/contact')" ng-mouseover="contact=true;projects=false;about=false;skills=false;default=false"></div>
                        <div class="projects-btn circled-btn" ng-click="projectsPageEnter('/projects')" ng-mouseover="projects=true;about=false;skills=false;contact=false;default=false"></div>
                        <!--<a href="/#!/about" class="btn btn-danger btn-lg">Contact</a>-->
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
