.ng-enter       { z-index: 8888; }
.ng-leave       { z-index: 9999; }

//@keyframes slideOutLeft {
//
//}

.about.ng-enter {
  animation: slideInDown 1s ease-in;
}

.about.ng-leave {
  animation: slideOutUp 1s ease-in;
}

.skills.ng-enter {
  animation: slideInRight 1s ease-in;
}

.skills.ng-leave {
  animation: slideOutRight 1s ease-in;
}

.contact.ng-enter {
  animation: slideInUp 1s ease-in;
}

.contact.ng-leave {
  animation: slideOutDown 1s ease-in;
}

.projects.ng-enter {
  animation: slideInLeft 1s ease-in;
}

.projects.ng-leave {
  animation: slideOutLeft 1s ease-in;
}

//.home.ng-enter {
//  //animation: slideInUp 1s ease-in;
//}
//
//.home.ng-leave {
//  //animation: slideOutDown 1s ease-in;
//}
//
//.home.ng-leave.ng-leave-active {
//  //animation: slideOutDown 5s ease-in;
//  transform: translateY(-100%);
//  transition: 5s ease all;
//}


